@font-face {
    font-family: "Ubuntu";
    src: url("./assets/fonts/Ubuntu-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: #EFF5FF;
    display: flex;
    flex-direction: column;
}

.background {
    width: 100%;
    height: 172px;
    background-image: url("./assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    width: 180px;
    height: 33px;
    display: flex;
    align-items: center;
}

.circle {
    margin-top: 32px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;  
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-panel {
    margin: 0;
    width: 153px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step-wrapper {
    display: none;
}


.active {
    background: #BEE2FD;
    border: 1px solid #BEE2FD;
    color: #022959;
}

main {
    width: 343px;
    position: relative;
}

/* Main Container */

.container-main {
    width: 343px;
    max-height: 420px;
    background-color: #FFFFFF;
    box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
    border-radius: 10px;
    position: absolute;
    top: -75px;
    padding: 32px 24px 32px 24px;
}

.panel--add {
    height: 87px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

h1 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #022959;
}

.panel--add p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #9699AA;
}

.wrapper {
    height: 295px;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.plan {
    width: 295px;
    height: 62px;
    border: 1px solid #D6D9E6;
    border-radius: 8px;
    padding: 11px 16px 12px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
}

.box {
    width: 20px;
    height: 20px;
    border: 1px solid #D6D9E6;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan:hover {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 16px 0px 14px;
    width: 164px;
}

.pricing {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    color: #483EFF;
}

h3 {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #022959;
}

.container p {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #9699AA;
}

.nodisplay {
    display: none;
}

.highlight {
    background-color: #483EFF;
}

.chosen {
    border: 1px solid #483EFF;
}

.error {
    font-weight: 700;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-align: right;

/* Red Errors */

color: #EE374A;
}


/* Footer */

footer {
    height: 72px;
    width: 100%;
    background-color: #FFFFFF;
    padding: 16px;
    margin-top: 451px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.go-back {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #9699AA;
}

.go-back:hover {
    cursor: pointer;
    color: #022959;
}

.next-step {
    width: 97px;
    height: 40px;
    float: right;
    background: #022959;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin: 0;
}

.next-step:hover {
    cursor: pointer;
    background: #928CFF;
}

@media screen and (min-width: 992px) {

    html {
        height: 100%;
    }

    body {
        flex-direction: row;
        background: #FFFFFF;
    }

    /* Header */

    header {
        width: 153px;
        height: 228px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin: 40px 0px 0px 32px;
    }

    .circle {
        margin: 0;
    }

    .step-wrapper {
        width: 104px;
        display: flex;
        flex-direction: column;
        margin-left: 23.5px;
        height: 33px;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    h4 {
        margin: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #ABBCFF;
    }

    .step-wrapper p {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0;
    }
    
    .background {
        margin: 0;
        width: 274px !important;
        min-width: 274px;
        height: 100vh;
        background: #483EFF;
        border-radius: 10px;
        background-image: url("./assets/images/bg-sidebar-desktop.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    /* Main Container */

    main {
        width: 450px;
        margin-left: 50px;
    }

    .container-main {
        width: 450px;
        top: 32px;
        box-shadow: none;
    }

    h1 {
        font-size: 32px;
        line-height: 37px;
    }

    .wrapper {
        width: 450px;
        margin-top: 40px;
    }

    .plan {
        justify-content: flex-start;
        margin: 0;
        width: 100%;
        padding: 30px 24px 31px 24px;
        height: 81px;
    }

    .box {
        margin: 0;
    }

    .pricing {
        margin-left: 80px;
        margin-right: 0px;
        font-size: 15px;
    }

    h3 {
        font-size: 16px;
        line-height: 18px;
    }

    .container p {
        font-size: 14px;
    }

    .container {
        width: 205px;
        height: 45px;
        margin-left: 24px;
    }

    .panel--add {
        height: 68px;
    }

    .panel--add p {
        margin: 11px 0px 0px 0px;
    }

    /* Footer */

    footer {
        position: absolute;
        margin: 0;
        width: 450px;
        top: 500px;
        left: 350px;    
        padding: 0;         
    }

}
